# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# raw_data is the city data obtain in the WeatherPy section and exported into a .csv.

raw_data = pd.read_csv("../output_data/raw_data.csv")

raw_data

,City,Country,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Date,Wind Speed
0,Atuona,PF,-9.80,-139.03,25.66,76,0,1602374840,8.78
1,Mehamn,NO,71.04,27.85,8.30,91,96,1602374841,6.52
2,Tiksi,RU,71.69,128.87,-9.79,94,55,1602374842,4.55
3,Bethel,US,41.37,-73.41,19.00,68,1,1602374690,3.10
4,Vaini,TO,-21.20,-175.20,25.00,78,40,1602374844,6.20
...,...,...,...,...,...,...,...,...,...
495,Abu Samrah,SY,35.30,37.18,18.61,30,0,1602375400,2.97
496,Brufut,GM,13.38,-16.75,26.00,94,20,1602375402,5.04
497,Pathein,MM,16.78,94.73,24.67,88,92,1602375403,3.16
498,Øksfjord,NO,70.24,22.35,8.00,93,100,1602375404,1.50
499,São João da Barra,BR,-21.64,-41.05,22.02,86,97,1602375405,5.48

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Variables for Location and Humidity
locations= raw_data[["Latitude", "Longitude"]]
Humidity= raw_data["Humidity"]

# Define the heatmap parameters
fig=gmaps.figure()

# create heat layer
heat_layer= gmaps.heatmap_layer(locations, weights=Humidity, dissipating= False, max_intensity=250,
                              point_radius=3)

#Add Layer
fig.add_layer(heat_layer)

#Display the map
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure